<section id="aboutMe">
  <div class="hero">
    <div class="container">
      <h1>Sobre mi</h1>
      <span class="text">
        <p>Soy desarrollador web full stack jr, me gusta mucho la programación y en general cualquier
          area de la informática.Busco constantemente aprender para desarrollar y perfeccionar mis habilidades
          , soy bueno trabajando en equipo y bajo presión, me adapto facilmente a situaciones cambiantes,
          buena dicción y capacitación activa en inglés.
        </p>
      </span>

    </div>
  </div>
</section>