<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">></head>
  <body>


    <footer>
      <div class="footer_container">
        <div class="logo"> <p>Gastón Gallegos </p></div>
          <div class="social_media">
            <a href="#"><i class="fab fa-discord"></i></a>
            
            <a href="#"><i class="fab fa-github"></i></a>
            <!--<a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>-->
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <p>Aerore Highwind © 2022 All Rights Reserved.</p>
        </div>
    </footer>
  </body>
