/* Add a black background color to the top navigation */
.container {
  display: flex;
  font-family: serif;
  font-weight: bold;
  position:absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 1vh;
  width: 100%;
  max-width: 100%;
  padding: 30px 10%;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  }
  
  .logo{
    background-image: url(src\assets\img\logo-placeholder2.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 64px ;
    min-width: 64px;
    color: aliceblue;
  }
  
  ul{
    display: flex;
    list-style: none;
  }
  .space{
    height: 18px;
    width: 61px;
  }
  /* Style the links inside the navigation bar */
    a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 20px;
    background-color: red;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #040faa;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  @media (max-width: 700px) {
      .container{
        flex-direction: column;
    }
}