<body>
    <section id="mySkills">
        <div class="hero">
            <div class="text">
                <h1>Mis habilidades</h1>
            </div>
            <div class="row">
                <div class="column">
                    <h1>Soft</h1>
                    <ul>

                        <li>
                            <circle-progress [percent]="85" [title]="'Comunicacion'"></circle-progress>
                        </li>

                        <li>
                            <circle-progress [percent]="95" [title]="'Teamwork'"></circle-progress>
                        </li>
                        <li>
                            <circle-progress [percent]="90" [title]="'Adaptabilidad'"></circle-progress>
                        </li>
                        <li>
                            <circle-progress [percent]="98" [title]="'Ingles:C2'"></circle-progress>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h1>Hard</h1>
                    <ul>
                        <li>Html</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>Angular</li>
                        <li>Spring boot</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>