<body>
    <section id="mySkills">
        <div class="hero">
            <div class="text">
                <h1>Mis habilidades</h1>
            </div>
            <div class="row">
                <div class="column">
                    <h1>Soft</h1>
                    <div class="container">
                        <ul>

                            <li>
                                <circle-progress [percent]="85" [title]="'Comunicacion'"></circle-progress>
                            </li>
    
                            <li>
                                <circle-progress [percent]="95" [title]="'Teamwork'"></circle-progress>
                            </li>
                            <li>
                                <circle-progress [percent]="90" [title]="'Adaptabilidad'"></circle-progress>
                            </li>
                            <li>
                                <circle-progress [percent]="98" [title]="'Ingles:C2'"></circle-progress>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <h1>Hard</h1>
                    <div class="container">
                    <ul>
                        <li>
                            <circle-progress [percent]="80" [title]="'Html'"></circle-progress>
                        </li>
                        <li>
                            <circle-progress [percent]="70" [title]="'Css'"></circle-progress>
                        </li>
                        <li><li>
                            <circle-progress [percent]="75" [title]="'JS'"></circle-progress>
                        </li>
                        <li>
                            <circle-progress [percent]="80" [title]="'Angular'"></circle-progress>
                        </li>
                        <li>
                            <circle-progress [percent]="76" [title]="'Maven'"></circle-progress>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>