body {
  margin: 0;
}     
.hero {
    background-image: url(src\assets\img\skillsWallpaper.png);
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}
      

.text {
  font-size: 1.4rem;
  text-align: center;
  color: white;
}
div > p{
  animation: anim-lineUp 3s ease-out;
  overflow: hidden;
}

h1{
  overflow: hidden;
  position: relative;
  animation: anim-lineUp 2s ease-in;
  white-space: nowrap;
}

.row {
  display: flex;
  overflow: hidden;
  font-size: 1.4rem;
  text-align: center;
  color: white;

}
ul{
  list-style: none;
  display: flex;
  align-content: stretch;

}
li{

}
.container{
  display: flex;

}
.column {
  flex: 50%;
}



@media screen and (max-width: 700) {
  .column {
    width: 100%;
  }
}
@media(max-width:700){
  ul{

  }
}








@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}