<body>
<section id="mySkills">
        <div class="hero">
            <div class="text">
                <h1>Mis habilidades</h1>
            </div>
            <div class="row">
                <div class="column">
                    <h1>Soft</h1>
                    <ul>
                        <li>Comunicacion
                            
                        </li>
                        <li>Trabajo en equipo</li>
                        <li>Adaptacion</li>
                        <li>Ingles: C2</li>
                    </ul>
                </div>
                <div class="column">
                    <h1>Hard</h1>
                    <ul>
                        <li>Html</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>Angular</li>
                        <li>Spring boot</li>
                    </ul>
                </div>
              </div>
    </div>
</section>
  </body>