/* You can add global styles to this file, and also import other style files */
*{box-sizing: border-box;}
html {/*background-color: rgb(44, 44, 44);*/
    background-color: #19191d;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { margin: 0; padding: 0; }

div{
    max-width: 1920px;
}


@media (max-width: 700px) {
    div{
        flex-direction: column;
    }
html{font-size: 50%;}
}

@media(max-width:400px){
    html{
        font-size: 50%;
        margin-top: 10px;
    }
}